---
import { BlurVideo } from "../components/BlurVideo/BlurVideo.jsx";
---

<section class="h-full w-[80%] m-auto flex items-start my-40 gap-10" id="about">
	<article class="border-l-4 pl-4 max-w-[75ch]">
		Unique platform

		<h5 class="text-2xl font-bold text-pretty flex flex-col opacity-80">
			Measuring
			<strong>+10 environmental</strong>
			Through impacts the LCA methodology in addition to Social and Governance
			metrics.
		</h5>
	</article>
	<figure class="relative">
		<!-- <Image class="rounded-lg border app-image" src={app} alt="app image" /> -->

		<BlurVideo client:visible />
	</figure>
</section>

<style>
	@media (width < 1200px) {
		section {
			width: 96%;
			margin-top: 5rem;
		}
	}
	article {
		border-color: var(--border-line);
	}
	strong {
		font-size: 3rem;
		background: radial-gradient(
			125% 125% at 100% 0%,
			#5fff50 30%,
			#076d08 100%
		);
		-webkit-background-clip: text;
		color: transparent;
		line-height: 4rem;
	}
</style>
