.card {
	transition: box-shadow 0.2s ease-in-out;
	border-radius: 1rem;
	display: flex;
}

.card:hover {
	filter: drop-shadow(0 0 0.05rem #63e);
	cursor: crosshair;
}
.btn-back {
	background: radial-gradient(125% 125% at 50% 10%, #fff 00%, #63e 100%);
	color: black;
	transition: all 0.2s ease-in-out;
	border-radius: 0 1rem 0 1rem;
}
.btn-back:hover {
	background: #63e;
	color: #fff;
	transform: scale(1.02);
}
.card {
	animation: zoomIn linear both;

	animation-timeline: view();
	animation-range: entry 20% cover 30%;

	will-change: filter;
	transition: filter 300ms;
	view-transition-name: card;
}
.image {
	object-fit: cover;
	object-position: center;
	border-radius: 1rem 0 0 1rem;
}

@keyframes zoomIn {
	from {
		opacity: 0.2;
		transform: translate3d(0, 10em, 0);
	}
}
