---
import { Image } from "astro:assets";
import repeat from "../icons/repeat.svg";
import sustentability from "../icons/sustentability.svg";
import report from "../icons/report.svg";
---

<article class="article">
	<div class="body">
		<div class="w-full grid place-items-center">
			<Image
				class="w-16 pb-5 opacity-10"
				src={repeat}
				alt="repeat-icon"
			/>
		</div>
		<header>
			<h2 class="w-auto">Automated data capturing</h2>
		</header>
		<hr />
		<p>~ No more manual processes</p>
		<p>~ Granular and accurate data collection</p>
		<p>~ Leverage already generated data</p>
	</div>

	<div class="body">
		<div class="w-full grid place-items-center">
			<Image
				class="w-16 pb-5 opacity-10"
				src={sustentability}
				alt="check"
			/>
		</div>
		<header>
			<h2 class="w-auto">Full sustainability management</h2>
		</header>
		<hr />
		<p>~ Full sustainability calculation</p>
		<p>~ Centralization of ESG data</p>
		<p>~ Tracking of ESG initiatives</p>
	</div>

	<div class="body">
		<div class="w-full grid place-items-center">
			<Image class="w-16 pb-5 opacity-10" src={report} alt="check" />
		</div>
		<header>
			<h2 class="w-auto">Dashboards and Reports</h2>
		</header>
		<hr />
		<p>~ Reports generation</p>
		<p>~ High level of detail</p>
		<p>~ +20 pre-designed dashboards</p>
	</div>
</article>
<style>
	.article {
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 2rem;
		justify-items: center;
		margin-top: 5rem;
		padding: 2rem;
		border-radius: 1rem;
		background: var(--green-50);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid var(--border-line);
		flex-wrap: wrap;
		border-bottom: 1px solid var(--border-line);
	}

	header {
		display: grid;
		color: var(--border-line);
		text-wrap: pretty;
		font-size: 1.5rem;
		font-weight: bold;
		width: 100%;
	}
	header h2 {
		margin: 0;
		width: 100%;
	}

	hr {
		margin: 1rem 0;
		height: 2px;
		width: 10ch;
		border: none;
		background: LinkText;
		background: linear-gradient(
				to bottom right in oklab,
				oklch(70% 0.5 340),
				oklch(90% 0.5 200)
			)
			fixed;
	}

	p {
		max-inline-size: 40ch;
		text-wrap: pretty;
		color: var(--text-2);
		font-size: 1rem;
		font-weight: 500;
		line-height: 2rem;
	}

	footer {
		color: var(--text-3);
	}
	@media (width < 650px) {
		.body {
			width: 100%;
		}
	}
</style>
