---
import { Image } from "astro:assets";

import app2 from "../img/app2.png";
---

<section
	class="h-full w-[80%] m-auto flex flex-col items-start my-40 gap-10"
	id="features">
	<article class="border-l-4 pl-4 max-w-[75ch]">
		The all in one Esg Platform
		<h5 class="text-2xl font-bold text-pretty flex flex-col opacity-80">
			Focus on what matters:
			<strong>Taking action</strong>
			Cacta automates the data capturing process, calculates your full sustainability
			performance and displays information in user friendly Dashboards.
		</h5>
	</article>

	<figure class="">
		<Image class="rounded-lg border app-image" src={app2} alt="app image" />
	</figure>
</section>

<style>
	article {
		border-color: #63e;
	}
	strong {
		font-size: 3rem;
		background: radial-gradient(125% 125% at 50% 10%, #000 00%, #63e 50%);
		-webkit-background-clip: text;
		color: transparent;
		line-height: 4rem;
	}
	figure:hover {
		filter: drop-shadow(0 0 0.05rem #63e);
		cursor: crosshair;
	}
	.app-image {
		animation: zoom2 linear both;

		animation-timeline: view();
		animation-range: entry 20% cover 30%;

		will-change: filter;
		transition: filter 300ms;
	}

	@keyframes zoom2 {
		from {
			opacity: 0.2;
			scale: 0.9;
			translate: 0 10%;
		}
	}
</style>
