---

---

<article>
	<div class="flex justify-start">
		<h1 class="text-8xl flex flex-col font-bold mb-40">
			<strong>Sustainability</strong>
			<strong class="important-text">Management</strong>
			<span class="opacity-60 text-4xl"> for the</span>
			<span class="opacity-70 text-6xl"> Primary</span>
			<strong class="text-7xl"> Industry</strong>
		</h1>
	</div>
</article>

<style>
	.important-text {
		background: radial-gradient(125% 125% at 50% 10%, #fff 00%, #63e 100%);
		border-radius: 1rem;
		padding: 0 0.5rem;
		color: #fff;
		margin: 0.5rem 0;
		font-size: 5rem;
		padding: 0.5rem 0;
		display: grid;
		place-items: center;
	}
	h1 {
		line-height: 5rem;
	}
</style>
<!-- linear-gradient(135deg,#c684ff,#8e33ff);

 -->
