---
import { Card } from "./Card/Card";
import image1 from "../img/data.jpg";
import image2 from "../img/renovable.jpeg";
import image3 from "../img/metrics.jpeg";
import Dashborad from "./Dashboard.astro";
---

<section class="h-full w-[80%] m-auto" id="metrics">
	<article class="border-l-4 pl-4 max-w-[75ch] mb-10">
		<span class="opacity-60 text-1xl flex items-center gap-1"></span>
		The all in one Esg Platform
		<h5 class="text-2xl font-bold text-pretty flex flex-col opacity-80">
			Focus on what matters:
			<strong>Taking action</strong>
		</h5>
	</article>
	<aside class="flex-wrap" id="aside">
		<Card
			id="1"
			client:visible
			imagePath={image1.src}
			altText="Data Collection"
			preTitle="DATA COLLECTION"
			title="Use your already generated Data."
			description="Cacta connects to your operational and enterprice data bases to automatically collect information. No need to change your processes."
			href="/data-collection"
		/>
		<Card
			id="2"
			client:visible
			imagePath={image2.src}
			altText="Impact Calculation"
			preTitle="IMPACT CALCULATION"
			title="Calculate your full impact - LCA Methodology."
			description="Cacta's propietary engine calculates +10 impacts, including Global Warming, Air quality, eutrophication and more."
			href="/impact-calculation"
		/>
		<Card
			id="3"
			client:visible
			imagePath={image3.src}
			altText="Report and Dashboards"
			preTitle="REPORT AND DASHBOARDS"
			title="Manage your impact."
			description="Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation."
			href="/report-and-dashboards"
		/>
	</aside>
	<Dashborad />
</section>

<style>
	#aside {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
	}
	@media (width < 1200px) {
		section {
			width: 96%;
			margin-bottom: 3rem;
		}
	}
	strong {
		font-size: 3rem;
		background: var(--bg-gradient);
		-webkit-background-clip: text;
		color: transparent;
		line-height: 4rem;
	}
	article {
		border-color: var(--border-line);
	}
</style>
