---
import CardZoom from "../components/CardZoom.astro";
import Layout from "../layouts/Layout.astro";
import image1 from "../img/data.jpg";
---

<Layout title="Info Data Collection" />

<section
	class="w-screen h-screen flex items-start justify-center m-auto ">
	<CardZoom
		image={image1}
		preTitle="DATA COLLECTION"
		title="Use your already generated Data"
		description="Cacta connects to your operational and enterprice data bases to automatically collect information. No need to change your processes.Cacta connects to your operational and enterprice data bases to automatically collect information. No need to change your processes.Cacta connects to your operational and enterprice data bases to automatically collect information. No need to change your processes.Cacta connects to your operational and enterprice data bases to automatically collect information. No need to change your processes."
	/>
</section>
