---
import { CardZoom } from "../components/CardZoom.jsx";
import Layout from "../layouts/Layout.astro";
import image2 from "../img/renovable.jpeg";
---

<Layout title="Info Impact Calculation" />

<section class="w-screen h-screen flex items-start justify-center m-auto">
	<CardZoom
		client:visible
		image={image2.src}
		preTitle="IMPACT CALCULATION"
		title="Calculate your full impact - LCA Methodology"
		description="Cacta's propietary engine calculates +10 impacts, including Global Warming, Air quality, eutrophication and more.Cacta's propietary engine calculates +10 impacts, including Global Warming, Air quality, eutrophication and more.Cacta's propietary engine calculates +10 impacts, including Global Warming, Air quality, eutrophication and more.Cacta's propietary engine calculates +10 impacts, including Global Warming, Air quality, eutrophication and more."
	/>
</section>