---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";

import About from "../components/About.astro";
import HeroImage from "../components/HeroImage.astro";
import Features from "../components/Features.astro";
import AppFunctions from "../components/Metrics.astro";
import Video from "../components/Video.astro";
import BentoInformation from "../components/BentoInformation.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout title="Welcome to Cacta Management">
	<header class="m-0 p-0 w-full">
		<Navbar />
		<section
			class="grid grid-cols-2 items-center h-full pt-40 w-[80%] m-auto">
			<Hero />
			<HeroImage />
		</section>
	</header>
</Layout>
<main class="relative">
	<About />
	<Features />
	<AppFunctions />
	<Video />
	<BentoInformation />
</main>
<footer>
	<ContactSection />
</footer>

<style>
	@media (width < 1200px) {
		section {
			grid-template-columns: 1fr;
			width: 90%;
			margin: auto;
			left: 0;
			right: 0;
			padding-top: 5rem;
		}
	}
</style>
