---
import CardZoom from "../components/CardZoom.astro";
import Layout from "../layouts/Layout.astro";
import image3 from "../img/metrics.jpeg";
---

<Layout title="Info Report and Dashboards" />

<section class="w-screen h-screen flex items-start justify-center m-auto">
	<CardZoom
		image={image3}
		preTitle="REPORT AND DASHBOARDS"
		title="Manage your impact"
		description="Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation.Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation.Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation.Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation."
	/>
</section>
