---
import { CardZoom } from "../components/CardZoom.jsx";
import Layout from "../layouts/Layout.astro";
import image3 from "../img/metrics.jpeg";
---

<Layout title="Info Report and Dashboards" />

<section class="w-screen md:h-screen h-full flex items-center justify-center">
	<CardZoom
		client:visible
		image={image3.src}
		preTitle="REPORT AND DASHBOARDS"
		title="Manage your impact"
		description="Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation.Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation.Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation.Cacta displays your impact up to the most detailed granularity, and automates internal and external report generation."
	/>
</section>
